:root{
  --ion-color-primary: #2f703a;
  --ion-color-primary-rgb: 47,112,58;
  --ion-color-secondary: #4a9f5a;
  --ion-font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
